@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* INICIO HEADER */

.logo{
width: 200px;
}


.bgColor{
    background-color: #F4F4F4;
}


a.nav-link{
        color: #5C89F7;
        font-weight: 900;
        font-size: large;
    }



    

/* FIN HEADER */

/* INICIO HERO INDEX */

.hero{
    
    height: 100vh;
    padding-left: 9rem;
    padding-top: 14rem;   
    background: url(../img/largeadult.png);
    background-repeat: no-repeat;
    background-size: cover    ;
    background-position-x: center;
}

    h2.hero__textBox{
        color: #5C89F8;
        font-size: 2.2em;
        line-height: 1.5em;
       
    }

    p.hero__textBox 
    {
        line-height: 3rem;
        color:rgb(0, 0, 0);
    
    }

    a.hero__textBox{
    display: inline-block;
    margin-top: 30px;
    padding: 8px 20px;
    letter-spacing: 1px;
    background: #5C89F8;
        color: #fff;
        border-radius: 40px;
        text-decoration: none;
    }

    .logoResponsive{
        display: none;
    }
/* FIN DE HERO INDEX */


/* INICIO de POSTHERO */
section.postHero{
    background-color: #5C89F7;
    
}


/* INICIO de POSTHero Parte Izquierda */


    .container__elements__boton {
        border: 2px solid #fff;
        border-radius: 5px;
        font-family: Poppins,sans-serif;
        font-size: 14px;
        letter-spacing: 1px;

        
    }
/* FIN de POSTHero Parte Izquierda */

/* INICIO de POSTHero Parte Derecha */


.container__elements__text2_h3 h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Poppins,sans-serif;
    color: #fff;
    font-size: 20px;
}

.container__horarios1{
  
    border-bottom: 1px solid #fff;
    line-height: 34px;
    width: 10cm;
}

.container__horarios_izquierda{
    position: absolute;
    display: flex;
    font-family: Poppins,sans-serif;
    color: #fff;
    
}

.container__horarios_derecha{
    display: flex;
    font-family: Poppins,sans-serif;
    color: #fff;
}
/* FIN de POSTHero Parte Derecha */


/* FIN de POSTHERO */

/* INICIO DE FOOTER V1*/




/* INICIO DE FOOTER LOGO  */

.footer__logo img{
    width: 9rem;
}

.footer__left h3{
    color: #4475f1;
    padding-bottom: 0.5rem;
}

.footer__left li{
    line-height: 2rem ;
}


.footer__right h3{
    color: #4475f1;
    padding-bottom: 0.5rem

}

/* FIN DE FOOTER V1*/

/* INICIO DE NOSOTROS */



.nosotros__izquierda h2{
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #4475f1;
}


.nosotros__izquierda p{
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.9rem;
    text-align: justify;
}


video{ 
    width: 40rem;
border-radius: 2rem;    

}
/* FIN DE NOSOTROS */

/* INICIO DE FOOTER V2 */
.footerV2{
        
        background-color: #5C89F7;
        
   
}

/* FIN DE FOOTER V2 */


/* INICIO DE STAFF */

.grillaStaff{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-auto-rows: 350px;
    grid-template-areas: "text text text";
    padding: 8rem;
    padding-top: 4rem;
    padding-bottom: 7rem;
}

.staff__text{
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .staff__text h3{
    
    font-size: 35px;
    letter-spacing: 0.2rem;
    }

    .staff__text p{
    grid-area: text;
    padding-top: 2rem;
    width: 35rem;
    text-align: justify;
    line-height: 2.5rem;
    font-size: large;
    }



.staff__elements{

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    }

.staff__elements img{

    width: 15rem;
    border-radius: 10rem;
    }

    .staff__elements h3{
    display: inline-block;
    padding-top: 1rem;
    }

/* FIN DE STAFF */


/* INICIO DE GALERIA */
.grillaGaleria{
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-auto-rows: 200px;
    gap: 16px; 
    padding: 3rem;
    grid-auto-flow: dense; 

   
}

.grillaGaleria > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grillaGaleria-col-2{
    grid-column:span 2;
}

.grillaGaleria-row-2{
    grid-row: span 2;
}


/* INICIO DE CONTACTO */
.contact{
    display: flex;
    padding: 40px 100px;
    justify-content: center;
    align-items: center;
}

.contact__box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.contact__box__izq{
    background: url(../img/imagendent.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center;  
    height: 100%;
    
}

.contact__box__der{
    padding: 25px 40px;
}

.contact__box__der h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

.espacio{
    width: 100%;
    border: 2px solid rgb(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    
    
}

.espacio:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

.espacio:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 150px;
}

.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #5C89F7;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
   transition: .3s;
}

.btn:hover{
    background-color: #476fd3;
}

/* MEDIAS */
@media screen and (max-width: 575px){
/* (INICIO) MEDIA - HEADER */

/* (FIN) MEDIA - HEADER */


/* (INICIO) MEDIA - HERO */

    section.hero {
        height: auto;
        padding: 0;
        background: none;
        background-repeat: no-repeat;
        background-size:contain;
background-position-y: 13rem;
    }

.logoResponsive{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoResponsive img{
    width: 100%;
    height: auto;    
    

}
    section.hero {
        
        padding: 0;
        background-image;: none
        background-repeat: no-repeat;
        background-size:contain;
background-position-y: 13rem;
    }

   

    h2.hero__textBox {
    width: 100%;
    height: auto;
    padding: 2rem 2rem 1rem 40px;
    text-align: center;
    }

    p.hero__textBox {
        text-align: center;
    }

    .anchorButton{
        display: flex ;
        justify-content: center;
        text-align: center;
    }
    a.hero__textBox {
      margin: 0rem 0rem;

       width: 15rem;
    }

/* (FIN) MEDIA - HERO */


/* (INICIO) MEDIA - PostHERO */
section.postHero {
   height: 35rem;
}

.container__elements__text2 {
    padding: 2rem 5rem 5rem 5rem;    
    font-size: medium;
}

.container__horarios_derecha {
    padding-left: 0;
}
/* (FIN) MEDIA - PostHERO */

/* (INICIO) MEDIA - NOSOTROS */
    video {
        width: 25rem;
        display: block;
        margin: auto;
    }

/* (FIN) MEDIA - NOSOTROS */


/* (INICIO) MEDIA - STAFF */
    .grillaStaff{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .staff__text{
        padding-top: 2rem;
        justify-content: center;
        align-content: center;
    }
    
    
    .staff__text p {
        padding: 2rem 0;
        width: 16rem;
    }

    .staff__elements{
    padding: 2.2rem 0;
    }

/* (FIN) MEDIA - STAFF */
       
/* (INICIO) MEDIA - GALERIA */

    .grillaGaleria{
        display: flex;
        flex-direction: column;
    }

/* (FIN) MEDIA - GALERIA */


/* (INICIO) MEDIA - CONTACTO */

    .contact__box{
            grid-template-columns: 370px;
            grid-template-rows: 200px 700px;
       
    }
    
    .contact__box__izq{
            height: 200px;
        
    }

/* (FIN) MEDIA - CONTACTO */



}



@media screen and (max-width: 1100px){
    .hero{
      padding-left: 3rem;
    }

}

@media screen and (min-width: 575px) and (max-width: 882px){
    
    /* (INICIO) MEDIA - HERO */

    section.hero {
        height: auto;
        padding: 0;
        background: none;
        background-repeat: no-repeat;
        background-size:contain;

    }

    .logoResponsive{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    h2.hero__textBox {
    padding: 2rem 2rem 1rem 40px;
    text-align: center;
    }

    p.hero__textBox {
        padding: 0rem 2rem 0rem 40px;
        text-align: center;

    }

    .anchorButton{
        display: flex;
        text-align: center;
        justify-content: center;

    }
    a.hero__textBox {
    margin: 0rem 0rem;
     
      width: 18rem;

    }

/* (FIN) MEDIA - HERO */
/* (INICIO) MEDIA - NOSOTROS */
    

 

video {
    width: 30rem;
  
}

/* (FIN) MEDIA - NOSOTROS */
    }

/* FIN DE MEDIAS */