@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}


@import "./parciales/header";
@import "./parciales/footers";


@mixin fontStyle($size, $weight, $height) {     /* Este mixin se usó en la línea 108 */
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
 }
 // Maps
$colors: ( 
        mainColor: #5C89F8,
        headerColor:  #F4F4F4,
        footerBlueText: #4475f1
); 


/* Inicio Hero  */
.hero{
    height: 100vh;
    padding-left: 9rem;
    padding-top: 14rem;   
    background: url(../img/largeadult.png);
    background-repeat: no-repeat;
    background-size: cover    ;
    background-position-x: center;

    &__textContainer h1{
        color: map-get($colors, mainColor );
        font-size: 2.2em;
        line-height: 1.5em;

    }

    &__textContainer p{
        line-height: 3rem;
        
    }

    &__textContainer a{
        display: inline-block;
        margin-top: 30px;
        padding: 8px 20px;
        letter-spacing: 1px;
        background: map-get($colors, mainColor );
        border-radius: 40px;
        text-decoration: none;
    }
    .imgIndexResponsive{
        display: none;
    }

   
}
/* Fin Hero */

/* Inicio PostHero */
.postHero{
    background-color: map-get($colors, mainColor );
    
    &__boton {
        border: 2px solid #fff;
        border-radius: 5px;
        font-family: Poppins,sans-serif;
        font-size: 14px;
        letter-spacing: 1px;

        
    }

    &__container__horarios{
        border-bottom: 1px solid #fff;
        line-height: 34px;
        width: 10cm;
    }

    /* Uso de Extend */
    .postHero__horarios{
    display: flex;
    font-family: Poppins,sans-serif;
    }
    &__horariosIzquierda{
        position: absolute;
        @extend .postHero__horarios;
        
    }

    &__horariosDerecha{
        @extend .postHero__horarios
        
        
    }
}
/* Fin PostHero */

/* Inicio Nosotros*/
.nosotros{
    &__izquierda h1{
        @include fontStyle(3.5rem, 500, 1.2)
        color: map-get($colors, footerBlueText);
    }
    
    
    &__izquierda p{
        @include fontStyle(1.25rem, 300 , 1.9rem );
        text-align: justify;
    }
    
    
    video{ 
        width: 40rem;
    border-radius: 2rem;    
    
    }

}
/* Fin Nosotros */


/* Inicio Staff */
.staff{
    &__text h3{
        font-size: 35px;
        letter-spacing: 0.2rem;
    }

    &__text p{
        line-height: 2.5rem;
        font-size: large;
        width: auto;
    }

    &__elements img{

        width: 15rem;
        border-radius: 6rem;
        }
}
/* Fin Staff */

/* Inicio Galeria  */
.grillaGaleria{
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-auto-rows: 200px;
    gap: 16px; 
    padding: 3rem;
    grid-auto-flow: dense; 

    & > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-col-2{
        grid-column: span 2;
    }
   
    &-row-2{
        grid-row: span 2;
    }

   
}
/* Fin Galeria */

/* Inicio Contacto */
.contact{
    display: flex;
    padding: 40px 100px;
    justify-content: center;
    align-items: center;

    &__box__izq{
        background-image: url(../img/imagendent.jpg);
        background-size: cover;
        background-position: center;

    }

    &__box__izq img{
        display: none;
        width: 100%;
        height: 100%;
    }

    &__box__der{
        padding: 25px 40px;
        background-color: white;
    }

    &__box__der h2{
        position: relative;
        padding: 0 0 10px;
        margin-bottom: 10px;
    }

    .formulario{
        box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
        padding: 0;
    }

    .espacio{
        width: 100%;
        border: 2px solid rgba(0, 0, 0, 0);
        background-color: rgba(230, 230, 230, 0.6);
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        margin-bottom: 22px;
        transition: .3s;
       }

    .espacio:focus{
        border: 2px solid rgba(30,85,250,0.47);
        background-color: #fff;
    }
    
    .espacio:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }

    textarea {
        min-height: 150px;
    }

    .btn{
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: map-get($colors, mainColor );
        color: #fff;
        font-size: 1.1rem;
        border: none;
        cursor: pointer;
       transition: .3s;
    }
    
    .btn:hover{
        background-color: #476fd3;
    }
    
   
 
}
/* Fin Contacto */

@import "./parciales/medias";

