/* Inicio Footer V1  */
.footer{
    &__logo img{
        width: 9rem;
    }

    &__left h3{
        color: #4475f1;
        padding-bottom: 0.5rem;
    }

    &__left li{
        line-height: 2rem ;
    }

    &__right h3{
        color: #4475f1;
        padding-bottom: 0.5rem
    
    }
}
/* Fin Footer V1 */


/* Inicio Footer V2 */
.footerV2{
        
    background-color: #5C89F7;
    

}
/* Fin Footer V2 */





