/* Inicio Header*/
$colors: ( 
        mainColor: #5C89F8,
        headerColor:  #F4F4F4,
        footerBlueText: #4475f1
); 

/* Inicio Header*/
.header{
    &__bgColor{
      background-color: map-get($colors, headerColor );
    }
  
  &__logo{
    width: 200px;
  }

  &__text{
    color: #5C89F7;
    font-weight: 900;
    font-size: large;
  }

  }
  /* Fin Header */
  