/* Inicio Header*/
.header{
    &__bgColor{
      background-color: #F4F4F4;
  }
  
  &__logo{
    width: 200px;
  }

  &__text{
    color: #5C89F7;
    font-weight: 900;
    font-size: large;
  }

  }
  /* Fin Header */
  